h4
{
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
     color:  #85929e;
     font-size: 20px;
}

.yoga_tracker
{
    font-size: 25px;
}

.login_name
{
    margin-left:29px;
    font-family: cursive;
    font-size: 15px;
}
